In [2]:
import pandas as pd
import numpy as np
fish = pd.read_csv('hw7_data/SnorkelSurveyExtract.csv')

fish_density = fish['Estimated density (fish/mi)'].values

water_temp = fish['Water temperature (C)'].values
water_depth = fish['Average water depth (ft)'].values

fdensity_clean = fish_density[~np.isnan(fish_density) & ~np.isnan(water_temp) & ~np.isnan(water_depth)]
wtemp_clean = water_temp[~np.isnan(fish_density) & ~np.isnan(water_temp) & ~np.isnan(water_depth)]
wdepth_clean = water_depth[~np.isnan(fish_density) & ~np.isnan(water_temp) & ~np.isnan(water_depth)]

1. What are the average fish densities for these water temperature intervals?
    1. Very cold water:  
    $$<$$ 10 C
    2. Cold water:  
    $$>=$$ 10 C and $$<$$ 20 C
    3. Warm water:  
    $$\ge$$ 20 C

In [24]:
print("very cold water average density :" +str (np.mean(fdensity_clean[wtemp_clean < 10])))
print("cold water average density :" +str (np.mean(fdensity_clean[(wtemp_clean >= 10) & (wtemp_clean <20)])))
print("warm water average density :" +str (np.mean(fdensity_clean[wtemp_clean >= 20])))

very cold water average density :618.640625
cold water average density :1014.5357607282185
warm water average density :2075.2057416267944

2. What are the average fish densities for these water depth intervals?
    1. Shallow water:  $$<$$ 4 ft
    2. Mid-depth water:  $$\ge$$ 4 and $$<$$ 8 ft
    3. Deep water:  $$\ge$$ 8 ft

In [5]:
print("shallow water average density :" +str (np.mean(fdensity_clean[wdepth_clean < 4])))
print("Mid-depth water average density :" +str (np.mean(fdensity_clean[(wdepth_clean >= 4) & (wdepth_clean <8)])))
print("deep water average density :" +str (np.mean(fdensity_clean[wdepth_clean >= 8])))

shallow water average density :1153.268817204301
Mid-depth water average density :1611.138888888889
deep water average density :1736.5


3. For each of the 10 most-dense fish samples, show:
    1. Fish density
    2. Water temperature
    3. Water depth

In [144]:
fish_clean = np.stack([fdensity_clean,wtemp_clean,wdepth_clean],axis = 1)
sort1 = fish_clean[fish_clean[:,0].argsort()][::-1]
result = sort1[:10]
result1 = np.around(result,decimals = 3)

print("10 most-dense fish samples' density are: " + str(result1.T[0]))

print("10 most-dense fish samples' water temperature are: " + str(result1.T[1]))

print("10 most-dense fish samples' water depth are: " + str(result1.T[2]))

10 most-dense fish samples' density are: [             35797.000000              33200.000000
              29468.000000              21633.000000
              20942.000000              19827.000000
              18539.000000              16994.000000
              15634.000000              14510.000000]
10 most-dense fish samples' water temperature are: [                22.800000                 13.000000
                 22.800000                 18.900000
                 22.800000                 21.000000
                 19.000000                 18.900000
                 21.000000                 19.000000]
10 most-dense fish samples' water depth are: [                 4.300000                  3.000000
                  2.400000                  1.780000
                  4.300000                  1.800000
                  2.700000                  2.210000
                  1.500000                  4.100000]

In [3]:
## method using pandas dataframe

fish_clean1 = fish[~np.isnan(fish_density) & ~np.isnan(water_temp) & ~np.isnan(water_depth)]
fish_clean1 = fish_clean1[['Estimated density (fish/mi)','Water temperature (C)','Average water depth (ft)']]
fish_clean1.sort_values(by=['Estimated density (fish/mi)'],ascending = False)[:10]

,Estimated density (fish/mi),Water temperature (C),Average water depth (ft)
104,35797.0,22.8,4.30
722,33200.0,13.0,3.00
210,29468.0,22.8,2.40
96,21633.0,18.9,1.78
107,20942.0,22.8,4.30
1122,19827.0,21.0,1.80
30,18539.0,19.0,2.70
94,16994.0,18.9,2.21
1116,15634.0,21.0,1.50
20,14510.0,19.0,4.10

4. do the same for the 10 least-dense samples

In [171]:
sort2 = fish_clean[fish_clean[:,0].argsort()]
result2 = sort2[:10]

print("10 least-dense fish samples' density are: " + str(result2.T[0]))

print("10 least-dense fish samples' water temperature are: " + str(result2.T[1]))

print("10 least-dense fish samples' water depth are: " + str(result2.T[2]))

10 least-dense fish samples' density are: [                 0.000000                  0.000000
                  0.000000                  0.000000
                  0.000000                  0.000000
                  0.000000                  0.000000
                  0.000000                  0.000000]
10 least-dense fish samples' water temperature are: [                 7.000000                  9.000000
                  6.000000                 10.000000
                 20.000000                 14.000000
                 18.000000                 15.000000
                 14.000000                 12.000000]
10 least-dense fish samples' water depth are: [                 1.300000                  0.600000
                  0.500000                  0.500000
                  0.300000                  0.400000
                  7.300000                  0.100000
                  0.700000                  0.200000]

In [4]:
## pandas solution
fish_clean1.sort_values(by=['Estimated density (fish/mi)'])[:10]

,Estimated density (fish/mi),Water temperature (C),Average water depth (ft)
486,0.0,7.0,1.3
487,0.0,9.0,0.6
491,0.0,6.0,0.5
493,0.0,10.0,0.5
1283,0.0,20.0,0.3
592,0.0,14.0,0.4
909,0.0,18.0,7.3
965,0.0,15.0,0.1
980,0.0,14.0,0.7
983,0.0,12.0,0.2